# Prevent Git from including or managing the files and folders in this Docker implementation

# Exclude InteliJ files
.idea

# Exclude Mac OS files
.DS_Store

# Exclude docker secrets files
secrets/

# Exclude all certificates
*.pem